.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 60px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

header a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #242424;
  text-decoration: none;
}

footer {
  width: 100%;
  background-color: teal;
  color: white;
  display: flex;
  justify-content: center;
}

.nav {
  background-color: #242424;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.searchForm input {
  height: 35px;
  width: 60%;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 5px;
  margin-left: -40px;
  margin-top: 5px;
}

.nav ul li {
  margin-left: 40px;
  cursor: pointer;
}

.nav a {
  color: whitesmoke;
  text-decoration: none;
}

.main-content {
  width: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  width: 100%;
  padding: 20px;
  border: 2px solid teal;
}

.author {
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}

.home ul {
  margin-bottom: 10px;
}

.home button {
  cursor: pointer;
}

.post {
  margin-bottom: 20px;
  padding: 20px;
}

.post a {
  color: #242424;
  text-decoration: none;
}

.post button {
  cursor: pointer;
}

.postBody {
  margin-top: 20px;
}

.title {
  color: teal;
}

#deletePost {
  background-color: red;
  color: white;
  height: 30px;
  margin-top: 10px;
  padding: 5px;
}

#editPost {
  background-color: teal;
  color: white;
  height: 30px;
  margin-top: 10px;
  padding: 5px;
  margin-right: 10px;
}

.post a {
  text-decoration: underline;
}

.NewPost {
  width: 100%;
  min-height: 450px;
}

.NewPost h3 {
  padding-left: 20px;
}

.NewPostForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.NewPostForm label {
  margin-bottom: 10px;
}

.NewPostForm input {
  margin-bottom: 20px;
  height: 40px;
}

.NewPostForm button {
  margin-top: 20px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.NewPostForm button:hover {
  border: 2px solid teal;
}

.about {
  min-height: 450px;
}
